.purple {
  /* TODO: Add some style definitions for the purple class in here... */
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

#answer-display:hover {
  color: #fff;
}

.header{
  text-align: center;
}

.content{
  text-align: center;
}

h1{
  text-align: center;
}

#sheep{
  width: 500px;
  background-image: url('sheep.png');
  background-repeat: repeat-x;
  height: 80px; 
  display: inline-block;
  /* float: right;  */
}

#person{
  display: inline-block;
  font-size: 1em;
}

