.purple {
  /* TODO: Add some style definitions for the purple class in here... */
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

body, select{
  font:20px Arial;
  text-align:center;
}

#answer-display:hover {
  color: #fff;
}

.header{
  text-align: center;
  margin-left: -15%;
}

.content{
  text-align: center;
}

h1{
  margin-left: -5%;
  text-align: center;
}

.sheep{
  background-image: url('sheep.png');
  background-repeat: none;
  height: 80px; 
  width:100px;
  display: inline-block;
}

#person{
  display: inline-block;
  font: 80px Futura;
  height:80px;
  line-height: 80px;
}

.map{
  padding-left:50%;
  padding-right: 50%;
  text-align: center;
  margin-top: -25%;
  }
  
  #test > path:hover {
  fill: pink;
  stroke: #ff0000;
  stroke-width: 1;
  }

  .chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
  }