.purple {
  /* TODO: Add some style definitions for the purple class in here... */
}

/* #answer-display will have black text on a white background.
   Hovering the mouse over it will reveal the text */
#answer-display {
  background-color: #000;
}

body, select{
  font:20px Arial;
  text-align:center;
}

#answer-display:hover {
  color: #fff;
}

.header{
  text-align: center;
}

.content{
  text-align: center;
}

h1{
  text-align: center;
}

.sheep{
  background-image: url('sheep.png');
  background-repeat: none;
  height: 80px; 
  width:100px;
  display: inline-block;
}

#person{
  display: inline-block;
  font: 80px Futura;
  height:80px;
  line-height: 80px;
}

.map{
  padding-left:50%;
  padding-right: 50%;
  text-align: center;
  }
  
  #test > path:hover {
  fill: lightblue;
  stroke: blue;
  stroke-width: 1;
  }

  .ratio-1 {
    fill: hsl(0, 100%, 90%);
  }

  .ratio-2 {
    fill: hsl(0, 100%, 80%);
  }

  .ratio-3 {
    fill: hsl(0, 100%, 70%);
  }

  .ratio-4 {
    fill: hsl(0, 100%, 60%);
  }

  .ratio-5 {
    fill: hsl(0, 100%, 50%);
  }

  .ratio-6 {
    fill: hsl(0, 100%, 40%);
  }
